<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/buttonChat.css" />
    <script src="js/buttonChat.js"></script>
  </head>

  <body>
    <button class="open-button" onclick="openForm()">
      <img
        src="https://img.icons8.com/wired/40/000000/online-support--v2.png"
      />
    </button>

    <div class="chat-popup" id="myForm">
      <form class="form-container" id="send-container">
        <section class="real-time-chat" id="message-container"></section>
        <label for="msg"><b>Message</b></label>
        <textarea
          placeholder="Type message.."
          name="msg"
          id="message-input"
          required
        ></textarea>
        <button type="submit" id="send-button" class="btn">Send</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>


        <!-- video -->
        <a class="nav-link" href="/video"> video </a>

      </form>
    </div>
  </body>
</html>


